
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500&display=swap');/*font-family: 'Poppins', sans-serif;*/

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background: #f0f2f5;
}
.container{
    width: min(90vw, 800px);
    margin: auto;
}
/* Titles ============================================================*/
h2 {
    margin-top: 3.2rem;
    margin-bottom:0.8rem;
    color: rgb(96, 185, 8);
    font-weight: 400;
}

/* Header ============================================================*/
header{
    background: #2d4a22;
    padding: 2rem 0rem 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    font-size: 1.5em;
}
header p{
    color: #fff
}
header span{
    color: rgb(96, 185, 8);
}

/* Balance ==========================================================*/
#balance{
    display: flex;
    margin-top: -10rem;
    flex-direction: column;
}
#balance-cards-area{
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
    row-gap: 2rem;
}

/* Cards   ===========================================================*/
.card{
    background: white;
    padding: 1.5rem 2rem;
    border-radius: 0.25rem;
    width: 15rem;
}
.position-card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}
.balance-value{
    font-size: 1.4em;
}
/*Table =============================================================*/
#data-table {
    width: 100% ;
    border-spacing: 0 0.5rem;
    overflow-x: auto;
    font-weight: 400;
}
.line{
    background: #4b3d680a;
    opacity: 80%;

}
table td{
    text-align: left;
    padding: 1rem 2rem;
}
.line:hover{
    opacity: 100%;
    background-color: rgba(255, 255, 255, 0.863);
}
.line-title{
    padding: 1rem 2rem;
    font-weight: 400;
    color: gray;
    text-align: left;
    background-color: white;
}
.date{
    opacity: 60%;
}
td.expanse{
    color: red;
}
td.income{
    color:green;
}
/* Footer ============================================================*/

footer{
    padding: 5rem 0rem 0rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
}
footer p{
    color: grey;
}
footer span{
    color: grey;
}

/* @MEDIA   ==========================================================*/

@media  screen and (max-width:810px) {
    #balance-card{
        flex-direction: column;
    }
    .card{
        width: 100%;
    }
}