
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background: #f0f2f5;
}
.container{
    width: min(90vw, 800px);
    margin: auto;
}
/* Titles ============================================================*/
h2 {
    margin-top: 3.2rem;
    margin-bottom:0.8rem;
    color: #2d4a22;
    font-weight: 500;
}

/* Header ============================================================*/
header{
    background: #2d4a22;
    padding: 2rem 0rem 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    font-size: 1.5em;
}
header p{
    color: #fff
}
header span{
    color: rgb(96, 185, 8);
}

/* Balance ==========================================================*/
#balance{
    display: flex;
    margin-top: -10rem;
    flex-direction: column;
}
#balance-cards-area{
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
    row-gap: 2rem;
}

/* Cards   ===========================================================*/
.card{
    background: white;
    padding: 1.5rem 2rem;
    border-radius: 0.25rem;
    width: 15rem;
}
.position-card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}
.balance-value{
    font-size: 1.4em;
    font-weight: 500;
}
/*Transaction =======================================================*/
#new-transaction{
    cursor: pointer;
    color: rgb(96, 185, 8);
}
#new-transaction:hover{
    text-decoration: underline;
}
/*Table =============================================================*/
.minus-button{
cursor: pointer;
}
#data-table {
    width: 100% ;
    border-spacing: 0 0.5rem;
    font-weight: 500;
}
tbody tr{
    background: #4b3d680a;
    opacity: 80%;

}
table td{
    text-align: left;
    padding: 1rem 2rem;
}
tbody tr:hover{
    opacity: 100%;
    background-color: rgba(255, 255, 255, 0.863);
}
.line-title{
    padding: 1rem 2rem;
    font-weight: 400;
    color: gray;
    text-align: left;
    background-color: white;
}
.date{
    opacity: 60%;
}
td.expanse{
    color: red;
}
td.income{
    color:rgb(96, 185, 8);
}
#text-overflow-sinalization{
    display: none;
    text-align: center;
    color: rgb(96, 185, 8);
}
/* Footer ============================================================*/

footer{
    padding: 5rem 0rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
}
footer p{
    color: grey;
}
footer span{
    color: grey;
}
/*Modal ==============================================================*/

.modal-overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.562);
    position: fixed;
    top:0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    z-index: 999;
}
.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}
.modal{
    background: #fafafa;
    padding: 2rem;
    position: relative;
    width: 80%;
    max-width: 30rem;
    border-radius: 2rem;
}
/*Form Modal =========================================================*/

#form {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#form h2{
    margin-top: 0;
}
input{
    border: none;
    border-radius: 0.2rem;
    padding: 0.8rem;
    background-color:#2d4a22 ;
    color: rgb(96, 185, 8);
}
::-webkit-input-placeholder {
    color: white;
    font-weight: 200;
 }
 
 :-moz-placeholder { /* Firefox 18- */
    color: white;  
    font-weight: 200;
 }
 
 ::-moz-placeholder {  /* Firefox 19+ */
    color: white; 
    font-weight: 200; 
 }
 
 :-ms-input-placeholder {  
    color: white; 
    font-weight: 200; 
 }
 ::-webkit-datetime-edit-text{ color: white; }
 
.input-group{
    display: flex;
    flex-direction: column;
    row-gap: 0.2rem;
    text-align: justify;
}
.input-group small{
    font-size: 0.7em;
}

#buttons{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    align-items: center;
}
#button-cancel {
    text-decoration: none;
    color: red;
    border: 1px solid red;
    padding: 0.5rem;
    border-radius: 0.3rem;
    font-size: 0.9em;
    cursor: pointer;
}
button{
    border: none;
    background-color: rgb(96, 185, 8);
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-size: 1em;
    transition: 0.5s;
}
button:hover{
    color: white;
}


/* @MEDIA   ==========================================================*/

@media  screen and (max-width:810px) {
    #balance-card{
        flex-direction: column;
    }
    .card{
        width: 100%;
    }
    #transaction{
        overflow-x: scroll;
    }
}
@media  screen and (max-width:640px) {
    #text-overflow-sinalization{
        display: block;
    }
}